// Menu

.content {
    width: 224px;


}

.menu-item {
    margin-left: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0px;
    background-color: transparent;
    color: rgb(22, 24, 35);
    display: flex;
    width: 100%;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.menu-item-icon {
    margin: 0 14px;
}


// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
